In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
import pandas_profiling as pp


warnings.filterwarnings('ignore')
%matplotlib inline


print(os.curdir)
print(os.listdir("input"))

.
['test.csv', 'train.csv', 'gender_submission.csv']

In [2]:
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input//test.csv')
data = pd.concat([train, test], sort=False)
data


# pclass： 旅客クラス（1＝1等、2＝2等、3＝3等）。裕福さの目安となる
# name： 乗客の名前
# sex： 性別（male＝男性、female＝女性）
# age： 年齢。一部の乳児は小数値
# sibsp： タイタニック号に同乗している兄弟（Siblings）や配偶者（Spouses）の数
# parch： タイタニック号に同乗している親（Parents）や子供（Children）の数
# ticket： チケット番号
# fare： 旅客運賃
# cabin： 客室番号
# embarked： 出港地（C＝Cherbourg：シェルブール、Q＝Queenstown：クイーンズタウン、S＝Southampton：サウサンプトン）
# boat： 救命ボート番号
# body： 遺体収容時の識別番号
# home.dest： 自宅または目的地
# survived：生存状況（0＝死亡、1＝生存）。通常はこの数値が目的変数として使われる

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [5]:
data['Sex'].replace(['male', 'female'], [0, 1], inplace=True)
data['Embarked'].fillna('S', inplace=True)
data['Embarked'] = data['Embarked'].map({'S': 0, 'C': 1, 'Q': 2}).astype(int)
data['Fare'].fillna(np.mean(data['Fare']), inplace=True)
age_avg = data['Age'].mean()
age_std = data['Age'].std()
data['Age'].fillna(np.random.randint(age_avg - age_std, age_avg + age_std), inplace=True)

data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1
2,3,1.0,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0
4,5,0.0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",0,22.0,0,0,A.5. 3236,8.0500,NaN,0
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",1,39.0,0,0,PC 17758,108.9000,C105,1
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",0,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,0
416,1308,NaN,3,"Ware, Mr. Frederick",0,22.0,0,0,359309,8.0500,NaN,0
417,1309,NaN,3,"Peter, Master. Michael J",0,22.0,1,1,2668,22.3583,NaN,1

In [6]:
delete_columns = ['Name', 'PassengerId', 'SibSp', 'Parch', 'Ticket', 'Cabin']
data.drop(delete_columns, axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

train
# test

     Survived  Pclass  Sex   Age     Fare  Embarked
0         0.0       3    0  22.0   7.2500         0
1         1.0       1    1  38.0  71.2833         1
2         1.0       3    1  26.0   7.9250         0
3         1.0       1    1  35.0  53.1000         0
4         0.0       3    0  35.0   8.0500         0
..        ...     ...  ...   ...      ...       ...
886       0.0       2    0  27.0  13.0000         0
887       1.0       1    1  19.0  30.0000         0
888       0.0       3    1  22.0  23.4500         0
889       1.0       1    0  26.0  30.0000         1
890       0.0       3    0  32.0   7.7500         2

[891 rows x 6 columns]

In [8]:
y_train = train['Survived']
X_train = train.drop('Survived', axis=1)
X_test = test.drop(['Survived'], axis=1)


print(X_train.head())
print(y_train.head())
print(X_test.head())

print('---------------------------')
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.3, random_state=0, stratify=y_train)
print(X_train.head())
print(X_valid.head())
print(y_train.head())
print(y_valid.head())

   Pclass  Sex   Age     Fare  Embarked
0       3    0  22.0   7.2500         0
1       1    1  38.0  71.2833         1
2       3    1  26.0   7.9250         0
3       1    1  35.0  53.1000         0
4       3    0  35.0   8.0500         0
0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
Name: Survived, dtype: float64
   Pclass  Sex   Age     Fare  Embarked
0       3    0  34.5   7.8292         2
1       3    1  47.0   7.0000         0
2       2    0  62.0   9.6875         2
3       3    0  27.0   8.6625         0
4       3    1  22.0  12.2875         0
---------------------------
     Pclass  Sex   Age     Fare  Embarked
231       3    0  29.0   7.7750         0
836       3    0  21.0   8.6625         0
639       3    0  22.0  16.1000         0
389       2    1  17.0  12.0000         1
597       3    0  49.0   0.0000         0
     Pclass  Sex   Age     Fare  Embarked
421       3    0  21.0   7.7333         2
618       2    1   4.0  39.0000         0
116       3    0  70.5   7.7500         2
310       1    1  24.0  83.1583         1
57        3    0  28.5   7.2292         1
231    0.0
836    0.0
639    0.0
389    1.0
597    0.0
Name: Survived, dtype: float64
421    0.0
618    1.0
116    0.0
310    1.0
57     0.0
Name: Survived, dtype: float64

In [11]:
import lightgbm as lgb

categorical_features = ['Embarked', 'Pclass', 'Sex']
lgb_train = lgb.Dataset(X_train, y_train, categorical_feature=categorical_features)
lgb_eval = lgb.Dataset(X_valid, y_valid, reference=lgb_train, categorical_feature=categorical_features)



params = {
    'objective': 'binary',
    'max_bin': 300,
    'learning_rate': 0.05,
    'num_leaves': 40,
}

model = lgb.train(params, lgb_train,
                  valid_sets=[lgb_train, lgb_eval],
                  verbose_eval=10,
                  num_boost_round=1000,
                  early_stopping_rounds=10)
y_pred = model.predict(X_test, num_iteration=model.best_iteration)
y_pred_rounded = (y_pred > 0.5).astype(int)
y_pred

[LightGBM] [Info] Number of positive: 239, number of negative: 384
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.002011 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 181
[LightGBM] [Info] Number of data points in the train set: 623, number of used features: 5
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.383628 -> initscore=-0.474179
[LightGBM] [Info] Start training from score -0.474179
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
Training until validation scores don't improve for 10 rounds
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[10]	training's binary_logloss: 0.503703	valid_1's binary_logloss: 0.530039
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[20]	training's binary_logloss: 0.427898	valid_1's binary_logloss: 0.47452
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[30]	training's binary_logloss: 0.382678	valid_1's binary_logloss: 0.452398
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[40]	training's binary_logloss: 0.354986	valid_1's binary_logloss: 0.445539
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[50]	training's binary_logloss: 0.333408	valid_1's binary_logloss: 0.441553
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[60]	training's binary_logloss: 0.310698	valid_1's binary_logloss: 0.436485
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[70]	training's binary_logloss: 0.291266	valid_1's binary_logloss: 0.437982
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
Early stopping, best iteration is:
[66]	training's binary_logloss: 0.298757	valid_1's binary_logloss: 0.435633

array([0.01688388, 0.44277112, 0.10040569, 0.05633506, 0.4161583 ,
       0.24634888, 0.48421271, 0.08042872, 0.74166364, 0.02012128,
       0.03513836, 0.20114795, 0.96874954, 0.02438937, 0.9703036 ,
       0.88553326, 0.09104074, 0.18067628, 0.53195625, 0.44052293,
       0.36642599, 0.35326115, 0.95830961, 0.48677702, 0.94836621,
       0.0924927 , 0.95907887, 0.18067628, 0.42790454, 0.086052  ,
       0.03184588, 0.07485369, 0.39175753, 0.19498479, 0.70933476,
       0.19226748, 0.26064341, 0.26731961, 0.04670679, 0.43817114,
       0.21273243, 0.63036957, 0.01474056, 0.94297833, 0.97301901,
       0.12702057, 0.38274055, 0.10131681, 0.96743888, 0.59352725,
       0.44358916, 0.22534736, 0.89337762, 0.95898073, 0.35439635,
       0.08638861, 0.01811675, 0.11231344, 0.05961495, 0.96401357,
       0.06591023, 0.19847839, 0.08393832, 0.75054241, 0.59952595,
       0.89142485, 0.7146242 , 0.11049222, 0.5958794 , 0.94873707,
       0.77999614, 0.03513836, 0.43704481, 0.52728969, 0.96570514,
       0.47426987, 0.05527196, 0.70274942, 0.17605891, 0.77999614,
       0.7884727 , 0.1990154 , 0.21455421, 0.03513836, 0.05644294,
       0.28735248, 0.69022333, 0.4556225 , 0.79368124, 0.71985   ,
       0.4161583 , 0.07054455, 0.97050255, 0.05527196, 0.46049195,
       0.089165  , 0.96767742, 0.28564285, 0.57851908, 0.25609291,
       0.97537454, 0.02315968, 0.10131681, 0.13370396, 0.56424414,
       0.02244842, 0.06684127, 0.10131681, 0.0363021 , 0.32508987,
       0.20282488, 0.70198498, 0.97646769, 0.79030704, 0.94873707,
       0.45758595, 0.18067628, 0.43856934, 0.62738453, 0.90222218,
       0.93201957, 0.10131681, 0.98088683, 0.07860166, 0.10131681,
       0.43535317, 0.04489208, 0.45735772, 0.11542426, 0.05766735,
       0.25609291, 0.22444825, 0.17807902, 0.18067628, 0.01707439,
       0.0660369 , 0.32445206, 0.12104222, 0.26064341, 0.08509401,
       0.17967482, 0.96570514, 0.22289916, 0.02315968, 0.58620457,
       0.06691858, 0.16556327, 0.05527196, 0.63036957, 0.02550004,
       0.96996709, 0.17060872, 0.05491807, 0.43871441, 0.2244989 ,
       0.0745552 , 0.95898073, 0.58070309, 0.58620457, 0.45150106,
       0.75054241, 0.77152037, 0.92084045, 0.08067997, 0.11542426,
       0.22389006, 0.11525696, 0.06732751, 0.88553326, 0.31844744,
       0.03965396, 0.32445206, 0.08940562, 0.14043124, 0.0667343 ,
       0.95495628, 0.96109337, 0.36642599, 0.97415944, 0.96342256,
       0.17605891, 0.34518467, 0.95892016, 0.10131681, 0.95369789,
       0.03635917, 0.89337762, 0.34897725, 0.20994539, 0.11542426,
       0.03335908, 0.2065659 , 0.65957762, 0.08526277, 0.57922501,
       0.01686855, 0.6512331 , 0.5757078 , 0.05523551, 0.26064341,
       0.7065671 , 0.75517961, 0.31511109, 0.92874647, 0.05166929,
       0.42899106, 0.48421271, 0.05523551, 0.91989491, 0.07574404,
       0.0324253 , 0.0670664 , 0.40265346, 0.70274942, 0.31799295,
       0.1234399 , 0.71073968, 0.1990154 , 0.94836621, 0.05527196,
       0.94172866, 0.06494066, 0.91535565, 0.04489208, 0.68176392,
       0.43655642, 0.04489208, 0.79368124, 0.09768675, 0.14281631,
       0.44686764, 0.89013129, 0.08067997, 0.06959534, 0.55098346,
       0.04860911, 0.32716079, 0.20421805, 0.92694799, 0.96756109,
       0.68176392, 0.69770221, 0.3327813 , 0.03513836, 0.02434282,
       0.1234399 , 0.89142485, 0.0520955 , 0.90222218, 0.27303468,
       0.91703513, 0.32791694, 0.38074459, 0.03947383, 0.27843926,
       0.03965396, 0.10131681, 0.08971066, 0.92694799, 0.07054455,
       0.05143418, 0.04226864, 0.91162506, 0.55873714, 0.1927502 ,
       0.03513836, 0.09125507, 0.03965396, 0.26064341, 0.20920937,
       0.51978287, 0.10131681, 0.95369789, 0.7065671 , 0.18067628,
       0.88228396, 0.05870671, 0.02992701, 0.02788568, 0.07174517,
       0.26064341, 0.75517961, 0.79368124, 0.45440361, 0.24488774,
       0.01819953, 0.03965396, 0.18415434, 0.14043124, 0.05527196,
       0.16556327, 0.49565737, 0.14043124, 0.19481395, 0.19193139,
       0.07704723, 0.9533084 , 0.086052  , 0.21405024, 0.05944634,
       0.02409278, 0.36768333, 0.03119261, 0.03346969, 0.79368124,
       0.70394178, 0.40750199, 0.75517961, 0.2121924 , 0.36211749,
       0.20920937, 0.18067628, 0.03965396, 0.45511803, 0.94836621,
       0.802606  , 0.22289916, 0.19839118, 0.08418233, 0.07743289,
       0.13370396, 0.25922129, 0.12104222, 0.74650128, 0.9590391 ,
       0.0670664 , 0.95495628, 0.30533994, 0.02335435, 0.20895021,
       0.96840521, 0.39487168, 0.18067628, 0.49266986, 0.07704723,
       0.25372017, 0.2029151 , 0.04867603, 0.08228796, 0.14043124,
       0.20619892, 0.02178782, 0.3009863 , 0.94836621, 0.08009542,
       0.73514267, 0.12104222, 0.44052293, 0.12567582, 0.92442269,
       0.96808035, 0.05166929, 0.28710023, 0.46711064, 0.25626607,
       0.18083612, 0.9662932 , 0.04166125, 0.10131681, 0.57104404,
       0.25508912, 0.97653993, 0.92442269, 0.05633506, 0.97801492,
       0.20994539, 0.28735248, 0.24312461, 0.97099298, 0.25038579,
       0.08391945, 0.96827963, 0.04500793, 0.13049427, 0.96368941,
       0.94836621, 0.26064341, 0.08391945, 0.05744125, 0.42748084,
       0.10131681, 0.08928469, 0.23409756, 0.44265628, 0.07164158,
       0.97244219, 0.10841293, 0.12160646, 0.10131681, 0.50819103,
       0.2039014 , 0.96840521, 0.39319677, 0.11020918, 0.02263724,
       0.95485166, 0.09118212, 0.96743888, 0.07054455, 0.01889179,
       0.96570514, 0.03119261, 0.96278129, 0.22359315, 0.39487168,
       0.46514482, 0.05523551, 0.32282565, 0.75054241, 0.62643924,
       0.79368124, 0.97363478, 0.33179192, 0.05527196, 0.97244633,
       0.01819953, 0.05527196, 0.086052  ])

In [15]:
# output raw
sub = pd.read_csv('input/gender_submission.csv')
sub['Survived'] = y_pred
sub.to_csv('output/submission/submission_32-lightgbm-change-hyper-param_raw.csv', index=False)

# output rounded
sub = pd.read_csv('input/gender_submission.csv')
sub['Survived'] = list(map(int, y_pred_rounded))
sub.to_csv('output/submission/submission_32-lightgbm-change-hyper-param.csv', index=False)